<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.foodorder.event">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.EventApp">

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" />

        <activity android:name=".ui.EventDetailActivity" />

    </application>
</manifest>